@import "./reset.css";

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("./img/background.png") no-repeat center/ cover;
}

.info__section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.info__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12px;
}

.info__play-btn,
.info__stop-btn {
  margin-bottom: 12px;
  width: 80px;
  height: 60px;
  text-align: center;
  border: 4px solid black;
  border-radius: 12px;
  background-color: wheat;
  transition: transform 0.3s ease-out;
}

.info__play-btn:hover,
.info__stop-btn:hover {
  transform: scale(1.2);
}

.fa-play,
.fa-stop {
  font-size: 30px;
}

.info__timer {
  margin-bottom: 12px;
  padding: 8px 12px;
  font-size: 45px;
  border: 4px solid black;
  border-radius: 12px;
  background-color: white;
}

.info__counter {
  padding: 20px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: white;
  background-color: tomato;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__pop-up {
  margin-top: 100px;
  padding: 12px;
  width: 350px;
  height: 180px;
  background-color: white;
  border: 4px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.replay-btn {
  background-color: wheat;
  margin: 8px;
  width: 80px;
  height: 80px;
  border: 4px solid black;
  border-radius: 12px;
  transition: transform 0.3s ease-out;
}

.replay-btn:hover {
  transform: scale(1.2);
}

.fa-reply {
  font-size: 40px;
}

.info__pop-up__title {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 600;
}

.game-section {
  position: relative;
  width: 100%;
  height: 50vh;
}

.display--off {
  display: none;
}

.carrot:hover {
  transform: scale(1.1);
}

.bug:hover {
  transform: scale(1.1);
}
